# Cloudinary tokens for image uplodation
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Port
PORT=8080

# Session secret key
SECRET=your_super_secret_session_key

# To integrate MAPBOX TOKEN 
MAP_TOKEN=your_mapbox_access_token

# Mongodb Atlas
MONGODB_ATLAS=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=appName
